.button-toggle-dark-mode {
  margin: .45rem;
  transition: transform 1s;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
}

.button-toggle-dark-mode:hover {
  transform: scale(1.1);
}

.moon,
.sun {
  position: absolute;
  top: 0;
  right: 0;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    padding: .55rem;
    color: $color-amber-dark;
    font-size: 1.2rem;
  }
}

.moon-logo {
  opacity: 0;
  transform: translateY(20%) rotateZ(50deg);
  transition: all 1s ease-out;
}

.sun-logo {
  opacity: 1;
  transform: translateY(0) rotateZ(0deg);
  transition: all 1s ease-out;
}

.animate-hide-sun {
  opacity: 0;
  transform: translateY(20%) rotateZ(100deg);
}

.animate-show-moon {
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
}
