.contact-page {

  h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .container_social_networks {
    padding: 2rem .75rem;

    a {
      text-decoration: none;
      color: $color-dark-grey;
      margin: 1rem;

      i {
        @include set-text-color-dynamic();

        font-size: 1.8rem;
        width: 2.1rem;
      }
    }
  }
}
