.rounded-image {
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  border: 5px solid $color-border-accent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-radius: 50%;
  margin: 1.2rem .3rem;

  img {
    object-fit: cover;
    display: block;
    border-radius: 50%;
  }
}
