.container-image {
  @include set-background-dynamic();

  margin: 1rem .3rem;
  border-radius: 50%;

  @include flex-position(column, center, center);

  div {
    border-radius: 50%;
  }

  .rounded-image {
    @include set-background-dynamic();

    /* stylelint-disable declaration-no-important */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    border: 5px solid $color-border-accent !important;
    border-radius: 50% !important;
    padding: 4px !important;

    @include set-background-dynamic();
  }
}
