.card {
  @include flex-position(column, flex-start, stretch);

  flex-wrap: wrap;
  width: 100%;
  border-radius: $border-radius-default;
  text-decoration: none;
  margin: 2rem 0;
  max-width: 350px;
  transition: transform 1s;
  border: 3px solid $color-border-accent;

  @include box-shadow-default();

  @include tablet {
    min-width: 100%;
  }

  @include desktop {
    @include flex-position(row, center, stretch);
  }

  @include large {
    @include flex-position(row, center, center);
  }

  .card-container-image {
    min-height: 300px;
    width: 100%;
    position: relative;

    /* stylelint-disable declaration-no-important */

    div:first-child {
      border-top-left-radius: $border-radius-image-container-card-default;
      border-top-right-radius: $border-radius-image-container-card-default;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include flex-position(column, center, center);

    @include desktop {
      width: 41%;

      div:first-child {
        border-top-left-radius: $border-radius-image-container-card-default !important;
        border-bottom-left-radius: $border-radius-image-container-card-default !important;
        border-top-right-radius: initial !important;
        height: 400px !important;
      }

      div div {
        background-position: left center !important;
        height: 400px !important;
      }
    }

    @include large {
      width: 41%;

      div > div {
        background-position: left center !important;
        min-height: 100% !important;
      }
    }

    img {
      border-radius: 50%;
    }
  }

  .card-container-content {
    @include flex-position(column, center, flex-start);

    padding: 1rem 1rem 0;
    width: 100%;

    @include desktop {
      width: 59%;
    }

    .private-code-message {
      @include flex-position(row, flex-start, center);
      @include set-text-color-dynamic();
      @include default-transition-for-bg-and-color();

      padding: .7rem 0;

      i {
        margin-right: .6rem;
      }
    }

    .card-title {
      font-size: 1.45rem;

      @include text-gradient($primary-gradient);
    }

    .card-description {
      @include set-text-color-dynamic();
      @include default-transition-for-bg-and-color();

      margin: .4rem 0;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-weight: 500;
    }

    .card-authors {
      @include flex-position(row, flex-start, center);

      width: 100%;
      padding: .85rem 0;

      .card-author {
        @include flex-position(row, center, center);

        .card-author-image {
          object-fit: cover;
          width: 40px;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
          border: 3px solid $color-border-accent;
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
          border-radius: 50%;
          margin-right: .5rem;
        }

        .card-author-name {
          @include text-gradient($primary-gradient);

          display: none;
          font-weight: 700;
          margin: 0 .6rem;

          @include desktop {
            display: block;
          }

          @include large {
            display: block;
          }
        }
      }
    }
  }
}

.card:hover {
  @include box-shadow-hover-default();
  @include scale-card-hover();
}
