article.card,
article.card-link .link {
  @include flex-position(column, flex-start, stretch);

  flex-wrap: wrap;
  width: 100%;
  border-radius: $border-radius-default;
  text-decoration: none;
  margin: 1.2rem 0;
  max-width: 350px;
  transition: transform 1s;
  overflow-x: hidden;
  border: 3px solid $color-accent;
  background-color: $color-accent;

  @include box-shadow-default();

  @include tablet {
    min-width: 100%;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(1, 1.5fr) repeat(1, 2fr);

    &:hover {
      @include scale-card-hover();
    }
  }

  .card-container-image {
    width: 100%;
    position: relative;
    top: 0;
    min-height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--card-background-color);

    @include flex-position(column, center, center);
  }

  .card-container-content {
    @include flex-position(column, center, flex-start);

    padding: 1rem 1rem 0;
    width: 100%;
    background-color: var(--card-background-color);

    .private-code-message {
      @include flex-position(row, flex-start, center);
      @include set-text-color-dynamic();

      padding: .7rem 0;

      i {
        margin-right: .6rem;
      }
    }

    .card-title {
      font-size: 1.45rem;

      @include text-gradient($primary-gradient);
    }

    .card-description {
      @include set-text-color-dynamic();

      margin: .4rem 0;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-weight: 500;
    }

    .card-authors {
      @include flex-position(row, flex-start, center);

      width: 100%;
      padding: .85rem 0;

      .card-author {
        @include flex-position(row, center, center);

        .card-author-image {
          object-fit: cover;
          width: 40px;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
          border: 3px solid $color-border-accent;
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
          border-radius: 50%;
          margin-right: .5rem;
        }

        .card-author-name {
          @include text-gradient($primary-gradient);

          display: none;
          font-weight: 700;
          margin: 0 .6rem;

          @include desktop {
            display: block;
          }
        }
      }
    }
  }
}

article.card-link {
  width: 100%;
}
