.button-badge-gradient {
  @include flex-position(row, center, center);

  border: none;
  width: 100%;
  background-image: $primary-gradient;
  color: var(--color-button-badge-text);
  padding: .5rem 1.55rem;
  border-radius: $border-radius-default;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  font-weight: 700;
  font-size: 1.1rem;

  a {
    text-decoration: none;
    color: var(--color-button-badge-text);
    cursor: pointer;
  }

  p {
    margin: 0;
    color: var(--color-button-badge-text);
  }
}
