.nav-button {

  a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: $linear-gradient-primary;

    p {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}
