html,
body {
  padding: 0;
  margin: 0;
}

// stylelint-disable-next-line
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

// utils
@import "./utils/mixins.scss";

// variables
@import "./variables/common.scss";
@import "./variables/colors.scss";

// layouts
@import "./layouts/default/style.scss";

// components
@import "./components/ButtonBadge/style.scss";
@import "./components/NavBar/style.scss";
@import "./components/NavBar/NavButton/style.scss";
