html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

// stylelint-disable

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

// stylelint-enable

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  outline: none;
}

// variables
@import "./variables/common.scss";
@import "./variables/colors.scss";

// utils
@import "./utils/media.scss";
@import "./utils/mixins.scss";
@import "./utils/themes.scss";
@import "./utils/animations.scss";

// layouts
@import "./layouts/default/style.scss";

// components
@import "./components/ButtonBadge/style.scss";
@import "./components/NavBar/style.scss";
@import "./components/NavBar/NavButton/style.scss";
@import "./components/NavBar/ButtonToggleDarkMode/style.scss";
@import "./components/Card/style.scss";
@import "./components/RoundedImage/style.scss";
@import "./components/Tag/style.scss";
@import "./components/CardPostDevto/style.scss";
@import "./components/ButtonScrollToTop/style.scss";

// pages
@import "./pages/home/style.scss";
@import "./pages/contact/style.scss";

// common
@import "./common/style.scss";
