body {
  min-height: 100vh;
}

.wrapper {
  padding: 1rem 0;
  overflow-y: hidden;
  width: 100%;
  max-width: 400px;

  @include flex-position(column, center, center);

  @include tablet {
    padding: 1.5rem;
    max-width: 65%;
  }

  @include desktop {
    padding: 2rem;
    max-width: 80%;
  }

  @include large {
    padding: 2rem;
    max-width: 70%;
  }

  @include extra-large {
    padding: 2rem;
    max-width: 40%;
  }
}

.page-title {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 900;

  @include text-gradient($primary-gradient);

  @include desktop {
    display: none;
  }

  @include large {
    display: none;
  }
}

.infinite-scroll-show-more {
  @include text-gradient($primary-gradient);
  @include disable-text-selection();

  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
