body {
  min-height: 100vh;
}

.wrapper {
  padding: 1rem 2rem;
  width: 100%;
  transition: all .5s;

  @include flex-position(column, center, center);

  @include tablet {
    padding: 1.5rem 2.5rem;
    max-width: 65%;
  }

  @include desktop {
    padding: 2rem 2.5rem;
    max-width: 80%;
  }

  @include large {
    padding: 2rem 3rem;
    max-width: 60%;
  }

  @include extra-large {
    max-width: 40%;
  }
}

.wrapper-scroll {
  padding: 0 0 1rem;
  overflow-y: hidden;
  width: 100%;
  transition: all .5s;
  min-height: 100vh;

  @include flex-position(column, center, center);

  @include tablet {
    max-width: 65%;
  }

  @include desktop {
    max-width: 80%;
  }

  @include large {
    max-width: 60%;
  }

  @include extra-large {
    max-width: 40%;
  }

  .infinite-scroll-component__outerdiv {
    min-height: 100vh;
  }
}

.page-title {
  margin: 0;
  padding-top: 0;
  width: 100%;
  text-align: center;
  font-weight: 900;

  @include text-gradient($primary-gradient);

  @include desktop {
    display: none;
  }

  @include large {
    display: none;
  }
}

.infinite-scroll-show-more {
  @include text-gradient($primary-gradient);
  @include disable-text-selection();

  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.infinite-scroll-component {
  width: 100%;
  padding: 1.5rem 2rem;

  @include flex-position(column, center, center);

  @include tablet {
    padding: 1.5rem 2.5rem;
  }

  @include desktop {
    padding: 2rem 2.5rem;
  }

  @include large {
    padding: 2rem 3rem;
  }

  &__outerdiv {
    width: 100%;
  }
}
