// positions

@mixin flex-position ($direction, $justifyContent, $alingItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alingItems;
}

// text colors
@mixin text-gradient ($color) {
  background: $color;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin disable-text-selection() {
  user-select: none;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin box-shadow-default() {
  box-shadow: 0 8px 40px -4px rgba(0, 0, 0, .14);
}

@mixin scale-card-hover() {
  transform: scale(1.03);
}

@mixin set-background-dynamic() {
  background-color: var(--color-page-background);
}

@mixin set-text-color-dynamic() {
  color: var(--color-text);
}

@mixin set-text-tag-color-dynamic() {
  color: var(--color-tag-text);
}
