// Responsive mixins

@mixin small {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// positions

@mixin flex-position ($direction, $justifyContent, $alingItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alingItems;
}

// text colors
@mixin text-gradient ($color) {
  background: $color;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin disable-text-selection() {
  user-select: none;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin box-shadow-default() {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

@mixin box-shadow-hover-default() {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .25), 0 8px 8px rgba(0, 0, 0, .22);
}

@mixin scale-card-hover() {
  transform: scale(1.03);
}
