:root {
  --color-page-background: #{$color-white};
  --color-text: #{$color-dark-grey};
  --color-tag-text: #{$color-accent};
}

body {
  @include set-background-dynamic();
  @include set-text-color-dynamic();
  @include default-transition-for-bg-and-color();
}

.light {
  --color-page-background: #{$color-white};
  --color-text: #{$color-dark-grey};
}

.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-tag-text: #{$color-light-grey};
}
