:root {
  --color-page-background: #{$color-white};
  --color-text: #{$color-dark-grey};
  --color-tag-text: #{$color-accent};
  --card-background-color: #{$background-color-cards-light};
}

body {
  @include set-background-dynamic();
  @include set-text-color-dynamic();
}

.light {
  --color-page-background: #{$color-white};
  --color-text: #{$color-dark-grey};
}

.dark {
  --color-page-background: #{$background-color-dark-mode};
  --color-text: #{$color-white};
  --color-tag-text: #{$color-white};
  --card-background-color: #{$background-color-cards-dark};
}
