
.navbar {
  @include flex-position(row, center, center);

  background-color: var(--color-navbar-background);
  backdrop-filter: blur(18px);
  padding: .5rem .2rem;
  width: 100%;
  position: sticky;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  transform: inherit;
}
