.home-page {
  min-height: 85vh;

  @include tablet {
    min-height: 60vh;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  .quote {
    @include set-text-color-dynamic();

    font-size: .9rem;
    line-height: 1.4rem;
    max-width: 350px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 32px;
    font-weight: 500;

    @include flex-position(column, center, center);

    i:not(.author):before {
      content: open-quote;
      font-weight: 900;
    }

    i:not(.author):after {
      content: close-quote;
      font-weight: 900;
    }

    .author {
      padding: 1rem 0;
      font-weight: 700;
      color: var(--color-text);
    }
  }

  .skills-container {
    padding: 1rem;
    width: 100%;
    min-height: 195px;
    text-align: center;

    @include desktop {
      max-width: 70%;
      min-height: 170px;
    }

    @include large {
      width: 70%;
    }
  }

  .more-skills {
    padding: 1rem;
    margin: .5rem 1rem 1rem;
    font-size: 1.5rem;
    border-radius: $border-radius-default;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-accent;

    &:before {
      transform: rotate(180deg);
    }

    &:hover {
      @include scale-card-hover();
    }
  }
}
