.home-page {
  min-height: 85vh;

  @include tablet {
    min-height: 60vh;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  .container_social_networks {
    padding: 1.5rem 1rem;

    a {
      text-decoration: none;
      color: $color-dark-grey;
      margin: 1rem;

      i {
        @include set-text-color-dynamic();

        font-size: 1.4rem;
        width: 1rem;
      }
    }
  }

  .quote {
    @include set-text-color-dynamic();

    @include tablet {
      max-width: 400px;
    }

    font-size: 1rem;
    line-height: 1.6rem;
    max-width: 270px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 32px;
    font-weight: 200;

    @include flex-position(column, center, center);
  }

  h2.quote {
    margin-top: 0;
  }

  .skills-container {
    padding: 1.5rem 1rem 0;
    width: 100%;
    min-height: 195px;
    text-align: center;

    @include tablet {
      min-height: 140px;
    }

    @include desktop {
      max-width: 70%;
    }

    @include large {
      width: 70%;
    }
  }

  .more-skills {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: $border-radius-default;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);

    &:hover {
      @include scale-card-hover();
    }
  }
}
