.home-page {

  h1 {
    font-size: 1.6rem;
    color: $color-dark-grey;
    margin-top: 0;
  }

  .quote {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    max-width: 300px;
    text-align: center;
    color: $color-dark-grey;

    @include flex-position(column, center, center);

    .author {
      padding: 1rem 0;
      font-weight: 500;

      @include text-gradient($primary-gradient);
    }
  }
}
