.scroll-top-button {
  background-image: $primary-gradient;
  padding: .7rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1.2rem;
  border-radius: $border-radius-default;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: transform 1s;
  cursor: pointer;

  @include box-shadow-default();
}

.scroll-top-button:hover {
  @include scale-card-hover();
}
