
$color-dark-grey: #4a5568;
$color-light-grey: #cbd5e0;
$color-accent: hsla(247, 77%, 83%, .761);
$color-border-accent: #c4a7f49f;

$primary-gradient: radial-gradient(circle at 12.8% 28%, rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%);
