
$color-dark-grey: #4a5568;
$color-light-grey: #cbd5e0;
$color-accent: #bab2f5c2;
$color-border-accent: #a6cbf673;
$primary-gradient: radial-gradient(circle at 12.8% 28%, rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%);
