$color-white: #fff;
$color-black: #000;
$color-dark-grey: #4a5568;
$color-light-grey: #cbd5e0;
$color-accent: #ff7eb3;
$color-border-accent: #ff7eb3;
$color-amber-dark: #ffc400;

$background-color-dark-mode: #14202b;
$background-color-cards-light: #fff;
$background-color-cards-dark: #192734;

$primary-gradient: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
