.card-devto-post {
  @include flex-position(column, flex-start, center);

  transition: transform 1s;
  width: 100%;
  border-radius: $border-radius-default;
  text-decoration: none;
  margin: 1.2rem 0;
  max-width: 350px;
  border: 3px solid $color-border-accent;

  @include box-shadow-default();

  @include tablet {
    max-width: 500px;
  }

  @include desktop {
    @include flex-position(row, center, center);

    min-width: 600px;
    max-width: 850px;
  }

  @include large {
    @include flex-position(row, center, center);

    width: 1000px;
  }

  .card-container-image {
    min-height: 150px;
    width: 100%;
    padding: 1rem;

    div:first-child {
      /* stylelint-disable-next-line declaration-no-important */
      width: 100% !important;
      /* stylelint-disable-next-line declaration-no-important */
      height: 100% !important;
    }

    @include flex-position(column, center, center);

    @include desktop {
      width: 35%;
    }

    @include large {
      width: 55%;
    }

    img {
      border-radius: $border-radius-default;
    }
  }

  .card-container-content {
    @include flex-position(column, center, flex-start);

    padding: 1rem;
    width: 100%;

    .private-code-message {
      @include flex-position(row, flex-start, center);
      @include set-text-color-dynamic();
      @include default-transition-for-bg-and-color();

      padding: .7rem 0;

      i {
        margin-right: .6rem;
      }
    }

    .card-title {
      font-size: 1.45rem;

      @include text-gradient($primary-gradient);
    }

    .card-description {
      @include set-text-color-dynamic();
      @include default-transition-for-bg-and-color();

      margin: .4rem 0;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-weight: 500;
    }

    .card-reactions {
      @include flex-position(row, flex-start, center);

      padding: .75rem 0;
      width: 100%;

      .card-reaction {
        @include flex-position(row, flex-start, center);
        @include text-gradient($primary-gradient);

        margin-right: .75rem;

        i {
          margin-right: .5rem;
        }
      }
    }

    .card-tags {
      padding: .5rem 0;

      span {
        @include text-gradient($primary-gradient);

        font-weight: 800;
        margin-right: .8rem;
      }
    }
  }
}

.card-devto-post:hover {
  @include box-shadow-hover-default();
  @include scale-card-hover();
}
