.card-devto-post {
  @include flex-position(column, flex-start, stretch);

  flex-wrap: wrap;
  transition: transform 1s;
  width: 100%;
  border-radius: $border-radius-default;
  text-decoration: none;
  margin: 1.2rem 0;
  max-width: 350px;
  border: 3px solid $color-border-accent;

  @include box-shadow-default();

  @include tablet {
    min-width: 100%;
  }

  @include desktop {
    @include flex-position(row, center, center);
  }

  @include large {
    @include flex-position(row, center, center);
  }

  .card-container-image {
    min-height: 150px;
    width: 100%;
    padding: 0;

    /* stylelint-disable declaration-no-important */

    div:first-child {
      border-top-left-radius: $border-radius-image-container-card-default;
      border-top-right-radius: $border-radius-image-container-card-default;
    }

    @include flex-position(column, center, center);

    @include desktop {
      width: 41%;

      div:first-child {
        border-top-left-radius: $border-radius-image-container-card-default !important;
        border-bottom-left-radius: $border-radius-image-container-card-default !important;
        border-top-right-radius: initial !important;
        height: 350px !important;
      }

      div div {
        height: 350px !important;
      }
    }

    img {
      border-radius: $border-radius-default;
    }
  }

  .card-container-content {
    @include flex-position(column, center, flex-start);

    padding: 1rem;
    width: 100%;

    @include tablet {
      padding: 0 1rem 1rem;
      width: 59%;
    }

    .private-code-message {
      @include flex-position(row, flex-start, center);
      @include set-text-color-dynamic();
      @include default-transition-for-bg-and-color();

      padding: .7rem 0;

      i {
        margin-right: .6rem;
      }
    }

    .card-title {
      font-size: 1.45rem;

      @include text-gradient($primary-gradient);
    }

    .card-description {
      @include set-text-color-dynamic();
      @include default-transition-for-bg-and-color();

      margin: .4rem 0;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-weight: 500;
    }

    .card-reactions {
      @include flex-position(row, flex-start, center);

      padding: .75rem 0;
      width: 100%;

      .card-reaction {
        @include flex-position(row, flex-start, center);
        @include text-gradient($primary-gradient);

        margin-right: .75rem;

        i {
          margin-right: .5rem;
        }
      }
    }

    .card-tags {
      padding: .5rem 0;

      span {
        @include text-gradient($primary-gradient);

        font-weight: 800;
        margin-right: .8rem;
      }
    }
  }
}

.card-devto-post:hover {
  @include box-shadow-hover-default();
  @include scale-card-hover();
}
